<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AAP Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <!-- TODO: Filter bars -->
  <div class="bg">
    <!-- Landing Image-->
    <div class="container h-100 px-0">
      <div class="headertext col-md-4 overlay-black px-0 pos-cr">
        <p class="h1 text-white text-middle font-weight-bold">Jo Kaha Woh Kiya</p>
        <p class="h5 text-white">Since Independence, political parties have been making promises to voters, and breaking
          them later.</p>
        <p class="h5 text-white">The Aam Aadmi Party is different.</p>
        <p class="h5 text-white">We deliver what we promise.</p>
        <p class="h5 text-white">Track our progress.</p>
      </div>
      <div class="pos-bc mb-5">
        <p class="h3 text-white">Explore by</p>
        <p>
          <a class="btn btn-primary nav_buttons" href="#main">
            <span class="h2 text-white" data-target="outcome">Outcome</span></a>
          <a class="btn btn-primary nav_buttons" href="#main">
            <span class="h2 text-white" data-target="department">Department</span></a>
        </p>
      </div>
    </div>
  </div> <!-- Landing image -->

  <div class="container-fluid pb-5 bg-dark">
    <div class="row">
      <div class="sidebar col-xs-12 col-md-3 pr-0">
        <div class="h2 text-light mt-2 mx-auto">Total Updates</div>
        <div id="donutChart" class="mx-auto"></div>
        <div class="h2 text-light mt-2 mx-auto">Top Departments</div>
        <div id="departmentChart" class="mx-auto"></div>
        <div class="h2 text-light mt-2 mx-auto">Top Outcomes</div>
        <div id="outcomeChart" class="mx-auto"></div>
      </div> <!-- sidebar-->
      <div class="main col-xs-12 col-md-9 pl-0" id="main">
        <template>
          <div class="row d-flex justify-content-center">
            <div class="h2 text-white"><%= title.toUpperCase() %></div>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            <% outcomes.forEach(function(outcome){ %>
            <div class="col-md-2 col-sm-6 col-xs-12 my-1 mr-0 mr-1">
              <div class="hovereffect">
                <img class="img-fluid" src="<%= outcome.img %>">
                <div class="overlay">
                  <div class="h3 text-light"><%= outcome.Outcome? outcome.Outcome : outcome.Department %></div>
                  <div class="pos-bl">
                    <a href="promises?Outcome=<%= outcome.Outcome %>">
                      <div class="text-light"><%= outcome['Promise|count']%> Promises</div>
                    </a>
                    <a href="updates?Outcome=<%= outcome.Outcome %>">
                      <div class="text-light">
                        <%= outcome['Update|count']  %> Updates </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </template>
      </div>
      <!--main-content-->
    </div>

    <!--footer-->
  </div> <!-- container-fluid -->
  {% include footer.html %}

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script src="ui/vega/build/vega.min.js"></script>
  <script src="js/donut.js"></script>
  <script src="js/marimeko.js"></script>
  <script>
    function getDataM(aggregator = 'Department', container = '#departmentChart') {
      $.when(
        $.getJSON(`data/updates?_by=${aggregator}&_c=${aggregator}|count&_sort=-${aggregator}|count&_limit=5`),
        $.getJSON(`data/updates?_by=${aggregator}&_by=Status&_c=Status|count`)
      ).done(function (departments, updates) {
        var departments = departments[0].map(d => d[aggregator])
        filteredUpdates = updates[0].filter(u => departments.includes(u[aggregator]))
        renderVega(getMarimekkoSpec(aggregator), container, filteredUpdates)
      })
    }
    function renderVega(spec, container, data = null) {
      if (data) { // for the marimekko chart, data needs to be passed explicitly.
        spec.data[0].values = data
      }
      width = $(container).width()
      spec.width = width
      var view = new vega.View(vega.parse(spec))
        .renderer('svg')
        .logLevel(vega.Warn)
        .initialize(container)
        .hover()
        .run()
    }
    function draw_cards(field) {
      // Look up the appropriate set of urls and render the template
      let url = [`data/${field.toLowerCase()}?_sort=${field}`,
      `data/promises?_by=${field}&_c=${field}|count`,
      `data/updates?_by=${field}&_c=${field}|count`]
      $.when(
        $.getJSON(url[0]),
        $.getJSON(url[1]),
        $.getJSON(url[2])
      ).done(function (group, promises, updates) {
        promises = _.each(promises[0], function (obj) { obj['Promise|count'] = obj[`${field}|count`] })
        updates = _.each(updates[0], function (obj) { obj['Update|count'] = obj[`${field}|count`] })
        group = group[0]
        outputs = _.merge(group, promises, updates)
        // console.log(outputs)
        $('body').template({ outcomes: outputs, title: `${field}s` })
      })
    }

    $(function () {
      getDataM('Department', '#departmentChart')
      getDataM('Outcome', '#outcomeChart')
      renderVega(donutSpec, '#donutChart')
      draw_cards('Outcome')
      $('.nav_buttons').on('click', function (button) {
        console.log($(button.target).data('target'))
        draw_cards($(button.target).data('target'))
      })
    })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>