<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AAP Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <div class="container-fluid bg">
    <div class="row overlay-black">
        <div class="col-md-2">
          <div class="text-white h2">Outcomes</div>
          <div class="text-white h2">Departments</div>
        </div> <!--sidebar-->
        <div class="col-md-10">
          <div class="d-flex flex-row justify-content-between">
            <div class="text-white h1">Promises</div>
            <div id="statusChart"></div>
          </div><!-- Title Row -->
          <div class="d-flex flex-wrap">
            <template>
              <% promises.forEach(function(promise){ %>
                <div class="col-md-3 mr-1 text-white"><%= promise %></div>
              <% }) %>
            </template>

          </div><!-- Promises Container -->
        </div><!-- Main content -->
    </div>
  </div>
  {% include footer.html %}

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script>
    $(function () {
      url = g1.url.parse(window.location)
      let selOutcome = url.searchKey.Outcome || ''
      $.when(
        $.getJSON('data/outcomes?_sort=Outcome'),
        $.getJSON(`data/promises?Outcome=${selOutcome}`),
        $.getJSON('data/updates?_by=Promise&_by=Status&_c=Status|count'),
        $.getJSON('data/updates?_by=SubPromise&_by=Status&_c=Status|count')
        // $.get('data/updates')
      ).done(function (outcomes, promises, updateStatusByPromise, updateStatusBySubPromise) {
        var promiseCollector = {}
        var subPromiseCollector = {}

        promises[0].forEach(function (o) {
          if (o.Promise in promiseCollector)
            promiseCollector[o.Promise]['subPromises'].push(o['Sub promise'])
          else {
            promiseCollector[o.Promise] = { 'subPromises': [o['Sub promise']] }
          }
        })

        updateStatusByPromise[0].forEach(function (statusCount) {
          promiseCollector[statusCount.Promise][statusCount.Status] = statusCount['Status|count']
        })

        promises[0].forEach(function (subPromiseAdd) {
          subPromiseCollector[subPromiseAdd['Sub promise']] = {}
        })

        updateStatusBySubPromise[0].forEach(function (statusCount) {

          if (statusCount.SubPromise in subPromiseCollector)
            subPromiseCollector[statusCount.SubPromise][statusCount.Status] = statusCount['Status|count']
        })
        console.log(subPromiseCollector)
        $('body').template({
          outcomes: outcomes[0],
          promises: promiseCollector,
          selOutcome: selOutcome,
          subPromises: subPromiseCollector
        })
      })

    })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>
