<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AAP Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <!-- TODO: Filter bars -->
  <div class="container-fluid">
    {% include banner.html %}
    <template>
      <div class="text-center h1 text-primary">Promises</div>
      <div class="row">
        <div class="col-md-2 sidebar my-2 pr-0">
          <div class="h4 text-primary">Outcomes</div>
          <div class="divider"></div>
          <ul class="nav flex-column nav-pills">
            <% outcomes.forEach(function(outcome){ %>
            <li class="nav-item">
              <a class="nav-link <%= outcome.Outcome==selOutcome?'active':''%>"
                href="promises?Outcome=<%=outcome.Outcome%>"><%= outcome.Outcome %></a></li>
            <% }) %>
          </ul>
        </div>
        <div class="col-md-10 px-0">
          <div class="col-md-12 ml-0">
          <% Object.keys(promises).forEach(function(promise){ %>
            <div class="card mb-2">
              <div class="card-body">
                <div class="card-title h4 text-primary text-shadow">
                  <button type="button" class="btn btn-primary round"><span class="badge badge-light round">2</span> Updates</button>
                 <a href="updates?Promise=<%= promise %>"> <span><%= promise.toUpperCase() %></span> </a>
                </div>
                <ul class="list-group list-group-flush">
                  <% promises[promise].forEach(function(subPromise){ %>
                  <li class="list-group-item">
                    <button type="button" class="btn btn-primary round"><span class="badge badge-light round">1</span> Updates</button>
                   <a href="updates?SubPromise=<%= subPromise %>"> <span><%=subPromise%></span> </a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          <% }) %>
        </div>
    </template>
  </div>
  </div> <!-- .container-fluid -->

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script>
    $(function () {
      url = g1.url.parse(window.location)
      let selOutcome = url.searchKey.Outcome || ''
      $.when(
        $.getJSON('data/outcomes?_sort=Outcome'),
        $.getJSON(`data/promises?Outcome=${selOutcome}`),
        // $.getJSON('data/updates?_by=Promise&_c=Promise|count')
        // $.get('data/updates')
      ).done(function (outcomes, promises, updateCounts) {
        var promiseCollector = {}
        promises[0].forEach(function (o) {
          if (o.Promise in promiseCollector)
            promiseCollector[o.Promise].push(o['Sub promise'])
          else
            promiseCollector[o.Promise] = [o['Sub promise']]
        })

        // console.log(promises[0])
        $('body').template({
          outcomes: outcomes[0],
          promises: promiseCollector,
          selOutcome: selOutcome
        })
      })

    })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>
