<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AAP Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <div class="container-fluid bg2">
    <div class="row overlay-black overflow-auto">
      <div class="col-md-2 col-sm-4">
        <div class="text-white h2">Promises</div>
        <div class="promises mh-10">
          <template>
            <ul class="nav flex-column overflow-auto">
              <li class="nav-item">
                <a href="updates?" class="text-white font-weight-bold">All</a>
              </li>
              <% promises.forEach(function(outcome){ %>
              <li class="nav-item">
                <a href="updates?Promise=<%=promise.Promise%>" class="text-white font-weight-bold">
                  <%=promise.Promise%></a>
              </li>
              <% }) %>
            </ul>
          </template>
        </div><!-- Promises -->
      </div>
      <!--sidebar-->
      <div class="col-md-10 col-sm-8">
        <div class="d-flex flex-row justify-content-between">
          <div class="text-white h1">Promises</div>
          <div id="statusChart"></div>
        </div><!-- Title Row -->
        <div class="d-flex flex-wrap justify-content-between">
          <template>
            <% for (var promise of Object.keys(promises)) { %>
            <div class="card col-md-3 text-white m-1 op">
              <div class="card-body text-middle text-center"><%= promise.toUpperCase() %></div>
              <div class="divover">
                <div class="inner">
                  <div>
                    <a href="updates?promise=<%=promise%>">
                      <div class="h3 text-white text-center text-middle">Total Updates</div>
                      <div class="d-flex flex-row justify-content-around">
                        <div>
                          <span class="badge badge-success round h3"><%=promises[promise]['Fulfilled']%></span>
                          <span
                            class="badge badge-primary round h3"><%=promises[promise]['Partially Fulfilled']%></span>
                          <span class="badge badge-danger round h3"><%=promises[promise]['Unfulfilled']%></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div><!-- inner -->
              </div> <!-- overlay -->
            </div>
            <% } %>
          </template>

        </div><!-- Promises Container -->
      </div><!-- Main content -->
    </div>
  </div>
  {% include footer.html %}

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script>
    $(function () {
      url = g1.url.parse(window.location)
      promisesURL = g1.url.parse('data/promises').update(url.searchKey).toString()
      updatesURL = g1.url.parse('data/updates').update(url.searchKey).toString()
      $.when(
        $.getJSON('data/outcome?_sort=Outcome'),
        $.getJSON('data/department?_sort=Department'),
        $.getJSON(updatesURL)
      ).done(function (outcomes, departments, updates) {
        // key the promiseCollector object with each promise.
        // subsequently count the number of status of each

        var promiseCollector = {}
        updates[0].forEach(function (update) {
          if (update.Promise in promiseCollector)
            promiseCollector[update.Promise][update.Status]++
          else {
            promiseCollector[update.Promise] = { 'Fulfilled': 0, 'Partially Fulfilled': 0, 'Unfulfilled': 0 }
          }
        })
        console.log(promiseCollector)
        $('body').template({
          outcomes: outcomes[0],
          departments: departments[0],
          promises: promiseCollector
        })
      })

    })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>