<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AAP Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <div class="container-fluid bg2 h-100">
    <div class="row overlay-black overflow-auto h-100">
      <div class="col-md-2 col-sm-4">
        <div class="text-white h2">Promises</div>
        <div class="border-right border-white">
          <template>
            <ul class="nav flex-column overflow-auto">
              <li class="nav-item">
                <a href="updates?" class="text-white font-weight-bold">All</a>
              </li>
              <% promises.forEach(function(promise){ %>
              <li class="nav-item">
                <a href="updates?Promise=<%=promise.Promise%>" class="text-white font-weight-bold">
                  <%=promise.Promise%></a>
              </li>
              <% }) %>
            </ul>
          </template>
        </div><!-- Promises -->
      </div>
      <!--sidebar-->
      <div class="col-md-10 col-sm-8">
        <template>
          <% for (var promise of Object.keys(updates)) { %>
          <div class="mb-5">
            <!-- Each promise in its own div -->
            <div class="text-white h1 mb-0"> <%= promise.toUpperCase() %></div>
            <div class="text-white h3"> Updates</div>
            <% for (var subPromise of Object.keys(updates[promise])) { %>
            <div class="border border-white mb-4 overlay-black">
              <!-- Each Subpromise in its own div-->
              <div class="card-header text-white text-center h5"><%= subPromise.toUpperCase() %></div>
              <% let updateList = _.orderBy(updates[promise][subPromise], 'Date of Update', 'desc') %>
              <% updateList.forEach(function(update){ %>
                <% var newDate = new Date() %>
                <% newDate.setTime(update['Date of Update']) %>
                <div class="card-body text-white py-2 border-bottom border-grey">
                  <p class="mb-1"><%= newDate.toDateString() %></p>
                  <p class="mb-1"><%= update.Description %></p>
                  <% let pillColor = update.Status == 'Partially Fulfilled'? 'bg-primary' : update.Status == 'Fulfilled' ? 'bg-success': 'bg-danger' %>
                  <p class="mb-1"><a class="btn text-white round <%= pillColor %>" href="<%= update['Proof URL'] %>"><%= update.Status %></a></p>
                </div>
                <% }) %>

            </div> <!-- subpromises div-->
            <% } %>
          </div> <!-- End of promise div-->
          <% } %>
        </template>
      </div><!-- Main content -->
    </div>
  </div>
  {% include footer.html %}

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script>
    $(function () {
      url = g1.url.parse(window.location)
      promisesURL = g1.url.parse('data/promises?_by=Promise&_c=Promise').update(url.searchKey).toString()
      updatesURL = g1.url.parse('data/updates').update(url.searchKey).toString()
      $.when(
        $.getJSON(promisesURL),
        $.getJSON(updatesURL)
      ).done(function (promises, updates) {
        let groupedPromise = _.groupBy(updates[0], 'Promise')
        for (var promise of Object.keys(groupedPromise)) {
          groupedPromise[promise] = _.groupBy(groupedPromise[promise], 'SubPromise')
        }
        console.log(groupedPromise)
        $('body').template({
          promises: promises[0],
          updates: groupedPromise
        }, { engine: 'vdom' })
      })

    })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>
