<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AAP Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <!-- TODO: Filter bars -->
  <div class="container-fluid">
    {% include banner.html %}
    <template>
      <div class="text-center h1 text-primary"><%= title %></div>
      <div class="row">
        <div class="col-md-2 sidebar my-2 pr-0">
          <div class="h4 text-primary">---------------------------</div>
          <div class="divider"></div>
          <!-- <ul class="nav flex-column nav-pills">
            <% outcomes.forEach(function(outcome){ %>
            <li class="nav-item">
              <a class="nav-link <%= outcome.Outcome==selPromise?'active':''%>"
                href="promises?Outcome=<%=outcome.Outcome%>"><%= outcome.Outcome %></a></li>
            <% }) %>
          </ul> -->
        </div>
        <div class="col-md-10 px-0">
          <div class="col-md-12 ml-0">
            <% updates.forEach(function(update){ %>

            <div class="card mb-2">
              <div class="card-body">
                <div class="card-title h6">
                  <div class="d-flex justify-content-between">
                    <div class="pill-ki-height">

                      <% if (update.Status=="Done"){ %>
                      <button type="button" class="btn round btn-success">
                        <%= update['Status']%>
                      </button>
                      <%}%>
                        <% if (update.Status=="In Progress") { %>
                      <button type="button" class="btn round btn-warning">
                        <%= update['Status']%>
                      </button>
                      <%}%>                    
                        <% if (update.Status=="Started") { %>
                      <button type="button" class="btn round btn-primary">
                        <%= update['Status']%>
                      </button>
                      <%}%>

                    </div>

                    <span class="text-primary text-center h4"><%= update.Title %></span>
                      <% dat = new Date(update['Date of Update']).toISOString().split('T')[0].split('-').reverse() %>
                      <span class="text-primary text-center h4"><%= dat[0] %>/<%= dat[1] %>/<%= dat[2] %></span>
                      <br><br>
                    </div>
                    <div>
                      <span>
                        <% update.Description.split('\n').forEach(function(line) { %>
                        <p><%= line %></p>
                        <%})%>
                        <br><br>
                      </span>
                      <span>
                        <a href="<%= update['Proof URL'] %>">Proof</a></span></div>

                  </div>
                </div>
              </div>


              <% }) %>
            </div>
    </template>
  </div>
  </div> <!-- .container-fluid -->

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script>
    $(function () {
      url = g1.url.parse(window.location)
      let selPromise = url.searchKey.Promise || ''
      let selSubPromise = url.searchKey.SubPromise || ''
      let updateTitle = 'All Updates'
      if (selPromise != '' && selSubPromise != '')
        updateTitle = `Updates for ${selPromise} and ${selSubPromise}`
      if (selPromise != '')
        updateTitle = `Updates for ${selPromise}`
      if (selSubPromise != '')
        updateTitle = `Updates for ${selSubPromise}`

      $.when(
        $.getJSON('data/outcomes?_sort=Outcome'),
        $.getJSON(`data/promises?Promise=${selPromise}`),
        $.getJSON(`data/updates?Promise=${selPromise}&SubPromise=${selSubPromise}&_sort=Date of Update`)
        // $.getJSON('data/updates?_by=Promise&_c=Promise|count')
        // $.get('data/updates')
      ).done(function (outcomes, promises, updates) {
        var promiseCollector = {}
        promises[0].forEach(function (o) {
          if (o.Promise in promiseCollector)
            promiseCollector[o.Promise].push(o['Sub promise'])
          else
            promiseCollector[o.Promise] = [o['Sub promise']]
        })

        $('body').template({
          outcomes: outcomes[0],
          promises: promiseCollector,
          selPromise: selPromise,
          updates: updates[0],
          title: updateTitle,
        })
      })

    })
  </script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
</body>

</html>